<!DOCTYPE html>
<html>
<head>
  <title>NkuProject</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
</head>
<body>
  <div class="container">
    <div>
      <% if current_baker.present? %>
        <%= link_to ' Edit your profile ', edit_baker_path(current_baker.id) %>
        <%= link_to ' Log out ', logout_path %>
      <% else %>
        <%= link_to ' I want to be a baker! ', new_baker_path %>
        <%= link_to ' Baker sign in ', new_session_path %>
      <% end %>
      
      <br>
      <br>
    </div>
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
    <%= yield %>
  </div>
</body>
</html>
